/* login form */
.login-form{
    height: 100%;
}

.login-form .form-container{
    width: 320px;
    margin: 0 auto;
}

.login-form .form-container .login-button{
    width: 100%;
}

.login-form .form-container .go-home{
    margin-top: 20px;
    text-align: center;
}